listening-port=3478
listening-ip=0.0.0.0
relay-ip=178.104.2.31
external-ip=178.104.2.31
realm=turn.diebel.ro
server-name=turn.diebel.ro

fingerprint
lt-cred-mech
use-auth-secret
static-auth-secret=REPLACE_WITH_VERCEL_TURN_STATIC_SECRET

min-port=49152
max-port=49200

no-tls
no-dtls

no-multicast-peers
no-loopback-peers

log-file=/var/log/turn.log
verbose
